@model HarelTech.WMS.Common.Models.AddNewLotRequest
@{
    var i = Model.Id;
    var sernflag = Model.SernFlag;
    var partId = Model.PartId;
    var curType = Model.TaskType;
}
<div id="card_@i" class="card m-2 animated fadeInDown" data-taskid="@Model.TaskId" data-lot="0" data-lotnumber="@Model.LotNumber">
    <div class="card-body m-2">
        <div class="form-row" style="font-weight: 700 !important">
            <div class="col">Lot #:</div>
            <div class="col md-form" style="color: #3DBFD9;">
                <input class="form-control" id="lot_number_@i" value="@Model.LotNumber" placeholder="Lot Number">
            </div>
        </div>
        <div class="form-row" style="font-weight: 700 !important">
            <div class="col">Status:</div>
            <div class="col" id="status_@i">Goods</div>
        </div>
        <div class="form-row" style="font-weight: 700 !important">
            <div class="col">Exp:</div>
            <div class="col">
                <div class="md-form md-outline input-with-post-icon datepicker">
                    <input placeholder="Select date" type="text" id="exp_date_@i" class="form-control" value="@DateTime.Now.AddYears(1).ToString("dd/MM/yyyy")">
                    <i class="fas fa-calendar input-prefix" tabindex=0></i>
                </div>
            </div>
        </div>
        <hr />

        <div class="form-row" style="font-weight: 600 !important;background-color: #E9F5FF;">
            <div class="col">To Bin/Area:</div>
            <div class="col" id="tobin_@i">
                <a data-toggle="modal" data-target="#binsModalPreview" data-spanid="span_tobin_@i">
                    <input class="form-control" id="span_tobin_@i" value="" />
                    <i class="fas fa-arrow-right float-right"></i>
                </a>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col-4" style="font-weight: 600 !important;">Quantity:</div>
            <div class="col-8">
                <div class="def-number-input number-input safari_only" style="background-color:#3DBFD9;">
                    <button onclick="minusQty('qty_@i');" class="minus"></button>
                    <input id="qty_@i" class="quantity" min="1" name="quantity" value="0" type="number" onchange="update_total_tasks();" required>
                    <button onclick="plusQty('qty_@i');" class="plus"></button>
                </div>
            </div>
        </div>
        @if (sernflag != "")
        {
            var bin = curType != 3 ? Model.FromBin : "";
            <div class="row mr-2 ml-2">
                <a data-toggle="modal" data-target="#serialsModalPreview" data-card="#card_@i"
                   data-lot="@Model.LotNumber" data-partid="@partId"
                   data-locname="@bin" data-serial="0"
                   class="btn btn-outline-cyan btn-block mt-2" style="color: #3DBFD9;border-color: #3DBFD9 !important">Add Serial numbers <i class="fas fa-arrow-right float-right"></i></a>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
        });
    });
</script>