@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HarelTech WMS App</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" async />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" async />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap" rel="stylesheet" async />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">-->
    <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.priority-software.com/upgrades/var/api/head/priorityapp.nocache.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <!-- preloader -->
    <div id="mdb-preloader" class="flex-center" style="opacity: 0.6;">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-blue-only" style="color: #3DBFD9 !important;">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- preloader -->


    @if (User.Identity.IsAuthenticated)
    {
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <button id="btn_menu" class="navbar-toggler collapse" type="button" data-activates="slide-out"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="#" id="btn_back" style="display: none"><i class="fas fa-chevron-left"></i></a>
                <span id="page_title" class="navbar-brand mx-auto">@ViewData["PageTitle"]</span>
            </div>
        </nav>
    </header>

 <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav fixed">
        <ul class="collapsible collapsible-accordion">
            <!-- Logo -->
            <li>
                <div class="flex-center mt-4">
                    <i class="fa fa-user-circle fa-4x" aria-hidden="true" style="color: #3DBFD9;"></i>
                </div>
            </li>
            <li>
                <div class="flex-center">
                    <span>
                        @User.Claims.FirstOrDefault(w => w.Type == ClaimTypes.Name).Value
                    </span>
                </div>
            </li>
            <li>
                <a href="#" class="waves-effect text-white">Dashboard <i class="fas fa-chevron-right float-right mt-3"></i></a>
            </li>
            <li>
                <a href="#" class="waves-effect text-white">Select Company <i class="fas fa-chevron-right float-right mt-3"></i></a>
            </li>
            <li>
                <a href="#" class="waves-effect text-white">Exit <i class="fas fa-chevron-right float-right mt-3"></i></a>
            </li>
            <!--/. Logo -->
            <!--/.Search Form-->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-chevron-right"></i> Submit
                            blog<i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect">Submit listing</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">Registration form</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="far fa-hand-pointer"></i>
                            Instruction<i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect">For bloggers</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">For authors</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-eye"></i> About<i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect">Introduction</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">Monthly meetings</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="far fa-envelope"></i> Contact me<i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect">FAQ</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">Write a message</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">FAQ</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">Write a message</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">FAQ</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">Write a message</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">FAQ</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">Write a message</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!--/. Side navigation links -->
        </ul>
        <div class="sidenav-bg rgba-black-light"></div>
    </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--Modal: modalConfirm-->
    <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Priority Message</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <p id="p_message"></p>
                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a id="confirm_btn" type="button" class="btn  btn-info waves-effect" data-dismiss="modal">Ok</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalConfirm-->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>-->
    <script type="text/javascript" src="~/lib/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script>
        $(window).on('load', function () {
            $('#mdb-preloader').hide();
        });

        $(document).ready(function () {
            // SideNav Button Initialization
            $(".navbar-toggler").sideNav();
            // SideNav Scrollbar Initialization
            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
